body{
    background-color: rgb(255, 231, 239);
    margin: 0;
}

.background-principal{
    margin: 0;
}

.background-images{
    display: flex;
    gap: 5px;
    position: fixed;
}

.background1, .background2, .background3{
    position: relative;
    display: inline-block;
}

.img-office img, .img-beauty img, .img-snacks img{
    height: 40em;
    width:450px ;
    object-fit: cover;
    border-radius: 5px;
    display: block;
}

.img-office img:hover, .img-beauty img:hover, .img-snacks img:hover{
    opacity: 50%;
}

.btn-office button, .background2 button, .background3 button{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 5em;
    opacity: 0;
    font-family: "Caveat", cursive;
}

.btn-office button:hover, .background2 button:hover, .background3 button:hover{
    color: rgb(216, 95, 115);
    background-color: #fffaf1;
    padding: 20px;
    opacity: 1;
    border-radius: 15px;
    border: solid 4px rgb(185, 179, 172);
}

header{
    position: absolute;
    margin: 5em 20em 5em 20em;
    padding: 1em;
    background-color: #fffaf1;
    border: solid 3px rgb(238, 156, 184);
    border-radius: 10px;
}

header:hover{
    cursor: pointer;
}

.web-title{
    display:  flex;
    gap: 2em;
    padding: 1em;
    align-items: center;
}

header h1{
    color: rgb(216, 95, 115);
    font-size: 3rem;
    font-weight: bolder;
    font-family: "Chewy", system-ui;
    letter-spacing: 5px;
}

header img{
    height: 10rem;
    border: solid 5px pink;
    border-radius: 50%;
}

